.item{
    /* height: 150vh; */
    width: 695px;
    height: 430px;
    position: relative;
    background-image: url(./images/car.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin: 200px auto;
    margin-bottom: 400px;
}

.title-box{
    position: absolute;
    width: 300px;
    top: -100px;
    left: -150px;
}
.title{
    background-color: red;
    color: #fff;
    font-size: 40px;
    height: 100px;
}
.info{
    background-color: #000;
    height: 300px;
}
.desc{
    position: absolute;
    bottom: -230px;
    left: -150px;
    background-color: #ccc;
    width: 690px;
    height: 275px;
}