.container{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.feature-title{
    height: 130px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    background-image: url(./images/feature-bg.webp);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 60px;
}

.feature-title .overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(4, 81, 132);
    opacity: 90%;
}

.feature-title h2{
    position: relative;
    margin: auto;
    text-align: center;
    margin-top: -70px;
}

/* banner section */
.home{
    height: 100vh;
    background-image: url(./images/banner.webp);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 100px;
}
.nav-bar{
    height: 100px;
}

.nav-bar .logo{
    color: #fff;
    margin-right: 20px;
}

.nav-bar .logo img{
    width: 60px;
    margin-right: 10px;
}
.nav-bar .logo .logo-name{
    font-size: 30px;
    text-align: right;
    line-height: 16px;
}

.nav-bar .logo .logo-name span{
    font-size: 12px;
    line-height: 5px;
}

.nav-bar nav ul{
    font-size: 13px;
    text-align: center;
    color: #fff;
}

.nav-bar nav ul li{
    margin: 10px;
}

.nav-bar nav ul li a{
    color: #fff;
}
.banner{
    margin: auto;
    color: #fff;
    margin-top: 100px;
}

.banner .info h1{
    font-size: 77px;
    text-align: center;
    margin-bottom: 30px;
}

.banner .info h2{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 150px;
}

.banner .info a{
    color: #fff;
    background-color: #3d9be999;
    padding: 10px 45px;
    margin: 0 20px;
}

.banner .info a:hover{
    background-color: #3d9be9;
}

/* service section */

.service-group .service-item{
    display: flex;
    margin: 0 auto;
    height: 350px;
    width: 80%;
    margin-bottom: 60px;
}

.service-group .service-item:nth-child(2n){
    flex-direction: row-reverse;
}

.service-group .service-item .col-img, .col-info{
    width: 600px;
    margin: auto 15px;
    padding: 20px;
}

.service-group .service-item .col-img img{
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.service-group .service-item .col-img h1{
    font-size: 26px;
    text-align: center;
    font-weight: 800;
}

.service-group .service-item .col-img p{
    font-size: 18px;
    padding: 0 20px;
}

.service-group .service-item .col-img p:first-of-type{
    margin-top: 20px;
}

.service-group .service-item .col-info h2{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.service-group .service-item .col-info p{
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.2;
}

/* schedule section */

.schedule-item{
    width: 300px;
    height: 400px;
    margin: 0 auto;
}

.schedule-item h4{
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
}

.schedule-item img{
    display: block;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-bottom: 50px;
}

.schedule-item h3{
    font-size: 18px;
    color: #f50038;
    margin-bottom: 30px;
    text-align: center;
}

.schedule-item ul{
    text-align: center;
}

.schedule-item ul li{
    font-size: 14px;
    line-height: 24px;
}

/* tools section */
.tools-group{
    margin-bottom: 100px;
}

.tools-group .tool-item{
    width: 300px;
}

.tools-group .tool-item .icons{
    height: 200px;
}

.tools-group .tool-item .icons img{
    max-height: 100%;  
    max-width: 50%; 
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.tools-group .tool-item h3{
    margin: 30px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.tools-group .tool-item p{
    margin: 0 auto;
    width: 80%;
    text-align: justify;
}

/* customer section */

.customer-group{
    margin-bottom: 100px;
}

.customer-group .customer-img{
    /* width: 100px; */
}

.customer-group .customer-img img{
    display: block;
    width: 230px;
    margin: 15px;
}

/* footer */

footer{
    background-color: #EEEEEE;
    height: 380px;
    padding-top: 40px;
}

footer h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

footer p:first-of-type{
    width: 300px;
    margin-bottom: 40px;
}

footer ul li{
    font-size: 13px;
    line-height: 24px;
}

footer .BS-more-info{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .BS-more-info .links{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .BS-more-info .links a{
    margin-right: 10px;
}

footer .BS-more-info .links a img{
    width: 40px;
}

footer .BS-more-info p{
    text-align: center;
    margin: auto 0;
}